<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li class="black-text"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :team_name %><br>
    <%= f.select :gender, options_for_select(%w[Boys Girls])%>
    <%= f.select :grade, options_for_select(%w[3rd 4th 5th 6th 7th 8th 9th 10th 11th 12th])%>
    <%= f.select :team_type, options_for_select(%w[Elite Select])%>
  </div>
  <div class="field">
    <%= f.label :coach_id %><br>
    <%= f.collection_select :coach_id, Coach.order(:first_name),:id,:first_name, include_blank: false %>
  </div>  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

