<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= link_to 'Manage', team %></td>
        <td><%= link_to 'Edit Name', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy Team', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
