<div class = "static-green-content" id ="allow-overflow">
<h1 class = "centered"><%=@team.name%></h1>

<% if proper_coach?(@team.coach) || is_admin? %>
<table>
    <tr>
      <th><%=@team.short_team_name%></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    	<td>NAME</td>
    	<td>PHONE</td>
    	<td>EMAIL</td>
    	<td>NUMBER</td>
      <td>PARENT</td>
      <td>PARENT CELL</td>
      <td>PARENT EMAIL</td>
      <td>EMERGENCY PHONE</td>
      <td></td>
    </tr>
  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= "#{player.last_name},#{player.first_name}" %></td>
        <td><%= number_to_phone(player.phone, area_code: true) %></td>
        <td><%= player.email %></td>
        <td><%= player.uniform_number %></td>
        <td><%= player.parent_first_name %></td>
        <td><%= player.parent_cell %></td>
        <td><%= player.parent_email %></td>
        <td><%= player.emergency_phone %></td>
        <td><%= link_to 'Show', player %>
            <%= link_to 'Edit', edit_player_path(player) %>
            <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Download:
  <% to_xls = "#{team_path(@team.id)}.xls" %>
  <%= link_to "Excel", to_xls %>
</p>
<% end %>

<h2>Roster</h2>
<table class ="weekly-calendar">
  <tr>
    <th>Player</th>
    <th>Number</th>
  </tr>
 <% @team.players.each do |player| %>
      <tr>
        <td class ="black-text"><%= player.formatted_name %></td>
        <td class ="black-text"><%= player.uniform_number %></td>
      </tr>
    <% end %>
</table>
<br />
</div>
<div class = "gray-content">
  <% if !@team.todays_events.empty? %>
    <h1 class = "centered" id ="today-events">Today's Events: <%= Date.today.strftime("%B %d, %Y") %></h1>
    <% @team.todays_events.each do |event| %>
      <h2><%= event.eventtype.name.split.map(&:capitalize).join(' ') %></h2>
      <h1><%= event.location.name %></h1>
      <div class = "row">
        <div class = "col-xs-6">  
          <p class ="full-width auto-margin">
            <strong>When:</strong> <br />
            <%=  "#{event.the_time.strftime('%l:%M %P')}"%>
            <% if !event.end_time.nil? %>
              <%= "-#{event.end_time.strftime('%l:%M %P')}" %>
            <% end %>
          </p>
          <p class = "full-width auto-margin">
            <strong>Directions:</strong>
            <%= link_to "Click Here!", event.location.directions %></strong>
          </p>
        </div>
        <div class = "col-xs-6">
          <% if !event.description.empty? %>
            <p class = "full-width auto-margin">
              <strong> Details:</strong> <br />
              <%=raw sanitize(simple_format(event.description), :tags => %w(br) ) %>
            </p>
          <% end %>  
        </div>
    </div>
    <% end %>
  <% end %>
</div>
<div class = "static-green-content">
<%= calendar @team.events do |event| %>
  <%logger.debug "Events start_time: #{event.start_time}" %>
  <div class="calendar-details" id="calendar-sub">
      <div class="calendar-sub-details" id ="calendar-sub">
        <p><%=event.location.name%></p>
        <dt><%= event.location.unformatted_location %></dt>
        <dd><%= link_to "directions", event.location.directions %></dd>
        <% if event.has_hotel? %>
          <p><%=event.hotel.name%></p>
          <dt><%= number_to_phone(event.hotel.phone, area_code: true) %></dt>
          <dt> <%=event.hotel.unformatted_location %></dt>
          <dt> <%="#{number_to_currency(event.hotel.price)}/Night"%></dt>
          <dd><%= link_to "hotel directions", event.hotel.directions %></dd>
        <% end %>
        <dd><%= link_to "more details", event %></dd>
    </div> 
    <ul>
      <dd><%= "#{event.eventtype.name}: "%></dd>
      <dt>
        <%= "#{event.location.name}:" %> <br />
        <%= "#{event.the_time.strftime('%l:%M %P')}"%>
        <% if !event.end_time.nil? %>
        <%= "-#{event.end_time.strftime('%l:%M %P')}" %>
        <% end %>
        <br />
        <%= "Court #{event.court}" %> <br />
        <%= link_to "directions", event.location.directions %>
      </dt>
          <% if is_admin? %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    </ul>
  </div>
<% end %>
<% @team.tournaments.each do |my_tournaments| %>
<div class = "static-cols-green">
  <h3>Tournament at <%= my_tournaments.location.name %></h3>
  <p>
    <%=my_tournaments.formatted_date %>  --- <%=my_tournaments.formatted_end_date %> <br /> <br />
    <% if !my_tournaments.description.nil? %>
      <%=raw sanitize(simple_format(my_tournaments.description), :tags => %w(br p) ) %>
       <br /> <br />
    <% end %>
  </p>
  <p><%=my_tournaments.location.name%></p>
  <dt><%= my_tournaments.location.unformatted_location %></dt>
  <dd><%= link_to "directions", my_tournaments.location.directions, :id => "black-link", :class => "underlined" %></dd>
  <% if my_tournaments.has_hotel? %>
    <p><%=my_tournaments.hotel.name%></p>
    <dt><%= number_to_phone(my_tournaments.hotel.phone, area_code: true) %></dt>
    <dt> <%=my_tournaments.hotel.unformatted_location %></dt>
    <dt> <%="#{number_to_currency(my_tournaments.hotel.price)}/Night"%></dt>
    <dd><%= link_to "hotel directions", my_tournaments.hotel.directions, :id => "black-link", :class => "underlined" %></dd>
  <% end %>
  <dd><%= link_to "more details", my_tournaments, :id => "black-link", :class => "underlined" %></dd>
</div>
<% end %>
</div>