  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css", "application" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" , "application" %>
<%= javascript_include_tag "bootstrap" %>
<h1><%=@team.team_name%></h1>
<h2>Coach</h2>
<h3><%= "#{@team.coach.first_name} #{@team.coach.last_name}"%> </h3>
<% if proper_coach?(@team.coach) %>
<table>
    <tr>
      <th><%=@team.team_name%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    	<td>NAME</td>
    	<td>EMAIL</td>
    	<td>PHONE</td>
    	<td>OPTIONS</td>
    </tr>
    <% @team.players.each do |player| %>
    <tr>
      <td><%="#{player.last_name}, #{player.first_name}"%>
      <td><%=player.email%></td>
      <td><%=player.phone%></td>
      <td>
      	<%= link_to 'Show', player %><br />
      	<%= link_to 'Edit',  edit_player_path(player) %><br />
      	<%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
</table>
<ul>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">New Player<strong class="caret"></strong></a>
      <div class="dropdown-menu" style="padding:2px;">
        <%= form_for (player=Player.new),:html => {:class => "manager-form"} do |f| %>
          <% if player.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

              <ul>
              <% player.errors.full_messages.each do |msg| %>
                <li class="black-text"><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :first_name %><br>
            <%= f.text_field :first_name %>
          </div>
          <div class="field">
            <%= f.label :last_name %><br>
            <%= f.text_field :last_name %>
          </div>
          <div class="field">
            <%= f.label :phone %><br>
            <%= f.text_field :phone %>
          </div>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.text_field :email %>
          </div>
          <div class="field">
            <%= f.label :team_id %><br>
            <%= f.collection_select :team_id, Team.order(:team_name),:id,:team_name, {:prompt => @team.id, :selected=> @team.id}%>
          </div>
          <div class="field">
            <%= f.label :password %><br>
            <%= f.password_field :password %>
         </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
  </li>
</ul>
<% end %>
<h1>Schedule</h1>
<%= calendar @team.events do |event| %>
  <%logger.debug "Events start_time: #{event.start_time}" %>
  <div class="calendar-details">
      <div class="calendar-sub-details">
      <p><%=event.location.name%></p>
      <dt><%= event.location.unformatted_location %></dt>
      <dd><%= link_to "directions", event.location.directions %></dd>
      <% if event.has_hotel? %>
        <p><%=event.hotel.name%></p>
        <dt> <%=event.hotel.unformatted_location %></dt>
        <dt> <%="#{number_to_currency(event.hotel.price)}/Night"%></dt>
        <dd><%= link_to "hotel directions", event.hotel.directions %></dd>
      <% end %>
      <dd><%= link_to "more details", event_path %></dd>
    </div> 
    <ul>
      <dd><%= "#{event.eventtype.name}: "%></dd>
      <dt>
        <%= "#{event.location.name}:" %> <br />
        <%= "#{event.the_time.strftime('%l:%M %P')}"%>
        <% if !event.end_time.nil? %>
        <%= "-#{event.end_time.strftime('%l:%M %P')}" %>
        <% end %>
      </dt>
          <% if proper_coach?(@team.coach) %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    </ul>
  </div>
<% end %>
<% if proper_coach?(@team.coach) %>
<ul>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">New Event<strong class="caret"></strong></a>
      <div class="dropdown-menu" style="padding:2px;">
        <%= form_for (event=Event.new),:html => {:class => "manager-form"} do |f| %>
          <% if event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

              <ul>
              <% event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

  <div class="field">
    <%= f.label :the_date %><br>
    <%= f.text_field :the_date %>
  </div>
  <div class="field">
    <%= f.label :the_time %><br>
    <%= f.time_field :the_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %>(optional)<br>
    <%= f.time_field :end_time %>
  </div>
    <div class="field">
    <%= f.label :location_id %><br>
    <%= f.collection_select :location_id, Location.order(:id),:id,:name, include_blank: false %>
    <%= link_to "New Location", new_location_path %>
  </div>
  <div class="field">
    <%= f.label :eventtype_id %><br>
    <%= f.collection_select :eventtype_id, Eventtype.order(:name),:id,:name, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.collection_select :team_id, Team.order(:team_name),:id,:team_name, include_blank: false %>
  </div>
    <div class="field">
    <%= f.label :hotel_id %><br>
    <%= f.collection_select :hotel_id, Hotel.order(:id),:id,:name, include_blank: true %>
    <%= link_to "New Hotel", new_hotel_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
        <% end %>
      </div>
  </li>
</ul>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<% end %>
<p id="test">THIS IS A TEST
</p>