  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css", "application" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" , "application" %>
<h1><%=@team.team_name%></h1>
<h2>Coach</h2>
<h3><%= "#{@team.coach.first_name} #{@team.coach.last_name}"%> </h3>
<% if proper_coach?(@team.coach) || is_admin? %>
<table>
    <tr>
      <th><%=@team.short_team_name%></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    	<td>NAME</td>
    	<td>PHONE</td>
    	<td>EMAIL</td>
    	<td>NUMBER</td>
      <td>PARENT</td>
      <td>PARENT CELL</td>
      <td>PARENT EMAIL</td>
      <td>EMERGENCY PHONE</td>
      <td></td>
    </tr>
  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= "#{player.last_name},#{player.first_name}" %></td>
        <td><%= number_to_phone(player.phone, area_code: true) %></td>
        <td><%= player.email %></td>
        <td><%= player.uniform_number %></td>
        <td><%= player.parent_first_name %></td>
        <td><%= player.parent_cell %></td>
        <td><%= player.parent_email %></td>
        <td><%= player.emergency_phone %></td>
        <td><%= link_to 'Show', player %>
            <%= link_to 'Edit', edit_player_path(player) %>
            <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Download:
  <% to_xls = "#{team_path(@team.id)}.xls" %>
  <%= link_to "Excel", to_xls %>
</p>
<% end %>

<h1>Schedule</h1>
<%= calendar @team.events do |event| %>
  <%logger.debug "Events start_time: #{event.start_time}" %>
  <div class="calendar-details">
      <div class="calendar-sub-details">
        <p><%=event.location.name%></p>
        <dt><%= event.location.unformatted_location %></dt>
        <dd><%= link_to "directions", event.location.directions %></dd>
        <% if event.has_hotel? %>
          <p><%=event.hotel.name%></p>
          <dt><%= number_to_phone(event.hotel.phone, area_code: true) %></dt>
          <dt> <%=event.hotel.unformatted_location %></dt>
          <dt> <%="#{number_to_currency(event.hotel.price)}/Night"%></dt>
          <dd><%= link_to "hotel directions", event.hotel.directions %></dd>
        <% end %>
        <dd><%= link_to "more details", event %></dd>
    </div> 
    <ul>
      <dd><%= "#{event.eventtype.name}: "%></dd>
      <dt>
        <%= "#{event.location.name}:" %> <br />
        <%= "#{event.the_time.strftime('%l:%M %P')}"%>
        <% if !event.end_time.nil? %>
        <%= "-#{event.end_time.strftime('%l:%M %P')}" %>
        <% end %>
      </dt>
          <% if is_admin? %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    </ul>
  </div>
<% end %>
<% if is_admin? %>

<%= link_to 'Edit', edit_team_path(@team) %> |

<% end %>
