<div class = "static-green-content" id ="allow-overflow">
<h1 class = "centered"><%=@team.name%></h1>
<h2>Coach</h2>
<% if proper_coach?(@team.coach) || is_admin? %>
<table>
    <tr>
      <th><%=@team.short_team_name%></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    	<td>NAME</td>
    	<td>PHONE</td>
    	<td>EMAIL</td>
    	<td>NUMBER</td>
      <td>PARENT</td>
      <td>PARENT CELL</td>
      <td>PARENT EMAIL</td>
      <td>EMERGENCY PHONE</td>
      <td></td>
    </tr>
  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= "#{player.last_name},#{player.first_name}" %></td>
        <td><%= number_to_phone(player.phone, area_code: true) %></td>
        <td><%= player.email %></td>
        <td><%= player.uniform_number %></td>
        <td><%= player.parent_first_name %></td>
        <td><%= player.parent_cell %></td>
        <td><%= player.parent_email %></td>
        <td><%= player.emergency_phone %></td>
        <td><%= link_to 'Show', player %>
            <%= link_to 'Edit', edit_player_path(player) %>
            <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Download:
  <% to_xls = "#{team_path(@team.id)}.xls" %>
  <%= link_to "Excel", to_xls %>
</p>
<% end %>

<h2>Roster</h2>
<table class ="weekly-calendar">
  <tr>
    <th>Player</th>
    <th>Number</th>
  </tr>
 <% @team.players.each do |player| %>
      <tr>
        <td class ="black-text"><%= player.formatted_name %></td>
        <td class ="black-text"><%= player.uniform_number %></td>
      </tr>
    <% end %>
</table>

<%= calendar @team.events do |event| %>
  <%logger.debug "Events start_time: #{event.start_time}" %>
  <div class="calendar-details" id="calendar-sub">
      <div class="calendar-sub-details" id ="calendar-sub">
        <p><%=event.location.name%></p>
        <dt><%= event.location.unformatted_location %></dt>
        <dd><%= link_to "directions", event.location.directions %></dd>
        <% if event.has_hotel? %>
          <p><%=event.hotel.name%></p>
          <dt><%= number_to_phone(event.hotel.phone, area_code: true) %></dt>
          <dt> <%=event.hotel.unformatted_location %></dt>
          <dt> <%="#{number_to_currency(event.hotel.price)}/Night"%></dt>
          <dd><%= link_to "hotel directions", event.hotel.directions %></dd>
        <% end %>
        <dd><%= link_to "more details", event %></dd>
    </div> 
    <ul>
      <dd><%= "#{event.eventtype.name}: "%></dd>
      <dt>
        <%= "#{event.location.name}:" %> <br />
        <%= "#{event.the_time.strftime('%l:%M %P')}"%>
        <% if !event.end_time.nil? %>
        <%= "-#{event.end_time.strftime('%l:%M %P')}" %>
        <% end %>
        <br />
        <%= "Court #{event.court}" %>
      </dt>
          <% if is_admin? %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    </ul>
  </div>
<% end %>
<% if is_admin? %>
<ul>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">New Event<strong class="caret"></strong></a>
      <div class="dropdown-menu" style="padding:2px;">
        <%= form_for (event=Event.new),:html => {:class => "manager-form"} do |f| %>
          <% if event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

              <ul>
              <% event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

  <div class="field">
    <%= f.label :the_date %><br>
    <%= f.text_field :the_date %>
  </div>
  <div class="field">
    <%= f.label :the_time %><br>
    <%= f.time_field :the_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %>(optional)<br>
    <%= f.time_field :end_time %>
  </div>
    <div class="field">
    <%= f.label :location_id %><br>
    <%= f.collection_select :location_id, Location.order(:id),:id,:name, include_blank: false %>
    <%= link_to "New Location", new_location_path %>
  </div>
  <div class="field">
    <%= f.label :eventtype_id %><br>
    <%= f.collection_select :eventtype_id, Eventtype.order(:name),:id,:name, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :court %><br>
    <%= f.number_field :court, min:1 %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.collection_select :team_id, Team.order(:id),:id,:name, {:selected => @team.id} %>
  </div>
    <div class="field">
    <%= f.label :hotel_id %><br>
    <%= f.collection_select :hotel_id, Hotel.order(:id),:id, :collection_format, include_blank: true %>
    <%= link_to "New Hotel", new_hotel_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
        <% end %>
      </div>
  </li>
</ul>
<%= link_to 'Edit', edit_team_path(@team) %> |

<% end %>
</div>