<div class= "centered static-cols-green">
	<h1> Gym Ratz AAU <strong> Fall </strong> Rosters</h1>
	<br />
	<div class ="row">
		<div class="col-xs-6">
			<h3>Boys Rosters</h3>
			<dl>
			  <dd><%= link_to "Boys 4th Grade Select","/B4_S.pdf" %></dd>
			  <dd><%= link_to "Boys 5/6th Grade Select","/B5-6_S.pdf" %></dd>
			  <dd><%= link_to "Boys 6th Grade Elite","/B6_E.pdf" %></dd>
			  <dd><%= link_to "Boys 7th Grade Select","/B7_S.pdf" %></dd>
			  <dd><%= link_to "Boys 8th Grade Elite","/B8_E.pdf" %></dd>
			  <dd><%= link_to "Boys 8th Grade Select","/B8_S.pdf" %></dd>
			  <dd><%= link_to "Boys 9th Grade Elite","/B9_E.pdf" %></dd>
			  <dd><%= link_to "Boys 10th Grade Elite","/B10_E.pdf" %></dd>
			  <dd><%= link_to "Boys 12th Grade Elite","/B12_E.pdf" %></dd>
			</dl>
		</div>
		<div class="col-xs-6">
			<h3>Girls Rosters</h3>
			<dd><%= link_to "Girls 4/5th Grade Select","/G4-5_S.pdf" %></dd>
			<dd><%= link_to "Girls 6th Grade Elite","/G6_E.pdf" %></dd>
			<dd><%= link_to "Girls 7th Grade Elite","/G7_E.pdf" %></dd>
			<dd><%= link_to "Girls 8th Grade Elite","/G8_E.pdf" %></dd>
			<dd><%= link_to "Girls 10th Grade Elite","/G10_E.pdf" %></dd>
			<dd><%= link_to "Girls 11th Grade Elite","/G11_E.pdf" %></dd>
		</div>
	</div>
</div>

