<%= form_for(@summer_camper) do |f| %>
  <% if @summer_camper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summer_camper.errors.count, "error") %> prohibited this summer_camper from being saved:</h2>

      <ul>
      <% @summer_camper.errors.full_messages.each do |msg| %>
        <li id = "black-text"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Select Camps</h2> <br />
   <% total = 0; %>
   <% SummerCamp.all.order(:start_date).each do |camp| %>
      <% total = total+1; %>
      <%= check_box_tag :summer_camp_ids, camp.id, @summer_camper.summer_camps.include?(camp), 
      :name => 'summer_camper[summer_camp_ids][]', :id => "check-box-margin" %>
      <%= label_tag :summer_camp_ids, camp.date_range %>
      <% if total == 3 %>
        <br /> <br />
        <% total = 0; %>
      <% end %>
  <% end %>
  <h2>Camper Information</h2>
  <div class="field">
    <%= f.label :first_name, "First Name" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(%w[Boys Girls], @summer_camper.gender)%>
    <%= f.label :grade %>
    <%= f.select :grade, options_for_select(%w[3rd 4th 5th 6th 7th 8th 9th 10th 11th 12th],@summer_camper.grade)%>
  </div>
  <h2>Parent Contact Information</h2>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :home_phone, "Home Phone" %> <em>(ex. 2018480017)</em><br>
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :cell_phone, "Cell Phone" %> <em>(ex. 2018480017)</em><br>
    <%= f.text_field :cell_phone %>
  </div>
  <h2>Waiver and Release</h2>
    <p id = "waiver" class = "full-width auto-margin small-padding">
    I, being the parent or legal guardian of the above enrolled minor,
    do hereby certify that my child is in good health and may participate in all program activities.
    I hereby appoint the directors of the Down Town Sports Companies to act on my behalf in authorizing
    medical attention and understand that neither Down Town Sports, TSI, NYSC, nor its directors or
    staff are responsible for any medical costs incurred due to accident or injury.
  </p>
  <div class="field">
    <%= f.label "Signature" %>
    <%= f.text_field :waiver_name %>
    <%= f.label "Date" %>
    <%= f.date_select :waiver_date %>
  </div>
  <br />

  <% if is_admin? %>
  <div class = "field">
    <%= f.label "Amount Owe" %>  <br />
    <%= f.text_field :amount_owe%>
    <%= hidden_field_tag :manual_fee_entry, '' %>
    <%= f.check_box :manual_fee_entry %>
    <%= f.label :manual_fee_entry, "Enter Amount Manually" %> 
    <em>Check this box if you want to manually enter the amoune owe </em><br /> <br />
    <%= f.label "Amount Paid" %> <br />
    <%= f.text_field :amount_paid %> <br />
  </div>
<% end %>

  <div class="actions">
    <%= f.submit "Register Camper" %>
  </div>
<% end %>


    