<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li class = "black-text"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :the_date %><br>
    <%= f.date_field :the_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %> (optional)<br>
    <%= f.date_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :genders %>
    <%= f.select :genders, options_for_select(%w[Both Boys Girls], @tournament.genders)%>
  </div>
  <div class="field">
    <%= f.label "Age Range" %>
    <%= f.select :min_grade, options_for_select(3..12, @tournament.min_grade)%> - 
    <%= f.select :max_grade, options_for_select([12, 11, 10, 9, 8, 7, 6, 5, 4, 3], @tournament.max_grade)%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>