<h1>
  <strong>Name:</strong>
  <%= @tournament.name %>
</h1>

<h2>
  <strong>The date:</strong>
  <%= @tournament.the_date %>
</h2>

<h2>
  <strong>Price:</strong>
  <%= number_to_currency @tournament.price %>
</h2>
<h1>Club Summary</h1>
<table class = "plain-table">
	<tr>
		<th>Organization</th>
		<th>Teams Enterred</th>
		<th>Amount Owe</th>
		<th>Amount Paid</th>
		<th>Contact Name</th>
		<th>Contact Phone</th>
		<th>Contact Email</th>
	</tr>
	<% @tournament.organizations.each do |organization| %>
		<tr>
			<td> <%= organization.name %></td>
			<td> <%= organization.clubs.size %></td>
			<td> <%= number_to_currency organization.amount_owe %></td>
			<td> <%= number_to_currency organization.amount_paid %></td>
			<td> <%=organization.contact_name %></td>
			<td> <%= number_to_phone organization.phone, area_code: true %></td>
			<td> <%= organization.email %></td>
		</tr>

	<% end %>
</table>
<h1>Team Summary</h1>
<table class = "plain-table">
	<tr>
		<th>Gender</th>
		<th>Age</th>
		<th>Team</th>
		<th>Coach</th>
		<th>Coach Email</th>
	</tr>
	<% @tournament.tournament_teams.each do |team|%>
		<tr>
			<td> <%= team.gender %></td>
			<td> <%= team.grade %></td>
			<td> <%= team.organization.name %></td>
			<td> <%= team.coach %></td>
			<td> <%= team.email %></td>
		</tr>
	<% end %>
</table>
