  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css", "application" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" , "application" %>
<%= javascript_include_tag "bootstrap" %>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li class="black-text"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :the_date %><br>
    <%= f.text_field :the_date %>
  </div>
  <div class="field">
    <%= f.label :the_time %><br>
    <%= f.time_field :the_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %>(optional)<br>
    <%= f.time_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :event_location %><br>
    <%= f.text_field :event_location %>
  </div>
  <div class="field">
    <%= f.label :eventtype_id %><br>
    <%= f.collection_select :eventtype_id, Eventtype.order(:name),:id,:name, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.collection_select :team_id, Team.order(:team_name),:id,:team_name, include_blank: false %>
  </div>
    <div class="field">
    <%= f.label :hotel_id %><br>
    <%= f.collection_select :hotel_id, Hotel.order(:id),:id,:name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
