<div class = "static-green-content">
<h1 class="centered">Gym Ratz AAU Schedule</h1>
  <li class="dropdown no-bullet">
    <a class="dropdown-toggle huge" href="#" data-toggle="dropdown">Schedule Search<strong class="caret"></strong></a>
    <div class="dropdown-menu" style="padding:2px;">
      <%= search_form_for @q, url: events_path do |f| %>
        <div class = "weekly-calendar-search weekly-calendar">
          <h3> Schedule Search </h3>
          <h4> Note: Leaving A Section Unchecked is Equivaltent to Checking All Boxes </h4> 
            <table>
            <tr>
              <th>Teams</th>
              <th>Type</th>
              <th>Location</th>
            </tr>

            <tr>
              <td>
                <%= check_box_tag('q[team_gender_matches_any[]', "Boys") %> 
                <%= "Boys" %> <br />
                <%= check_box_tag('q[team_gender_matches_any[]', "Girls") %>
                <%= "Girls" %>
              </td>
              <td>
                <% Eventtype.order(:name).each do |e| %>
                  <%= check_box_tag('q[eventtype_id_eq_any[]', e.id) %>
                  <%= e.name %> <br /> 
                <% end %>
              </td>
              <td>
                <% l = Location.find_by name: "Down Town Sports" %>
                  <%= check_box_tag('q[location_id_eq_any[]', l.id) %>
                  <%= "#{l.name}-#{l.city}" %> <br />
                <% l = Location.find_by name: "Saddle River Day" %>
                  <%= check_box_tag('q[location_id_eq_any[]', l.id) %>
                  <%= "#{l.name}-#{l.city}" %> <br />
                </td>
            </tr>
           <br />
           </table>
            <%= f.submit "Search" %>
          </div>
      <% end %>
    </div>
  </li>

<h3 class="centered"> <%="#{Event.start_of_week} --- #{Event.end_of_week}"%></h3>
<table class="weekly-calendar">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <% (begin_weekly_calendar..end_weekly_calendar(1)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
          <dd><%= d.day %></dd>
        </td>
    <% end %>
  </tr>
    <% cur_time = Event.begin_time; while cur_time <= (Event.stopping_time) %>
    <tr>
    <% (begin_weekly_calendar..end_weekly_calendar(1)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
          <ul>
            <% Event.events_on_court_at_time(d, cur_time, 1).search(params[:q]).result(distinct: true).to_a.each do |p| %>
              <%if is_admin? %>
                <li style = "color:#006600;"><%=link_to p.team.short_team_name, edit_event_path(p.id), :id => "black-link" %></li>
              <% else %>
                <li style = "color:#006600;"><%=p.team.short_team_name%></li>
               <%end %>
            <%end%>
            <% unique_event = Event.events_on_court_at_time(d, cur_time, 1).search(params[:q]).result(distinct: true).to_a.first %>
              <% if !unique_event.nil? %>
                  <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}" %>
                  <%if !unique_event.end_time.nil? %>
                    <%= "-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                  <%end%>
                  </li>
                <li> <%= unique_event.eventtype.name %></li>
                <li> <%="#{unique_event.location.name}-Court 1" %></li>
              <% end %>
            </ul>
          <ul>
            <% Event.events_on_court_at_time(d, cur_time+30.minutes, 1).search(params[:q]).result(distinct: true).to_a.each do |p| %>
              <%if is_admin? %>
                <li style = "color:#006600;"><%=link_to p.team.short_team_name, edit_event_path(p.id), :id => "black-link"%></li>
              <% else %>
                <li style = "color:#006600;"><%=p.team.short_team_name%></li>
               <%end %>
            <%end%>
            <% unique_event = Event.events_on_court_at_time(d, cur_time+30.minutes, 1).search(params[:q]).result(distinct: true).to_a.first %>
              <% if !unique_event.nil? %>
                  <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}" %>
                  <%if !unique_event.end_time.nil? %>
                    <%= "-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                  <%end%>
                  </li>
                <li> <%= unique_event.eventtype.name %></li>
                <li> <%="#{unique_event.location.name}-Court 1" %></li>
              <% end %>
            </ul>
          <ul>
            <% Event.events_on_court_at_time(d, cur_time, 2).search(params[:q]).result(distinct: true).to_a.each do |p| %>
              <%if is_admin? %>
                <li style = "color:#006600;"><%=link_to p.team.short_team_name, edit_event_path(p.id), :id => "black-link"%></li>
              <% else %>
                <li style = "color:#006600;"><%=p.team.short_team_name%></li>
               <%end %>
              <%end%>
            <% unique_event = Event.events_on_court_at_time(d, cur_time, 2).search(params[:q]).result(distinct: true).to_a.first %>
              <% if !unique_event.nil? %>
                  <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}" %>
                  <%if !unique_event.end_time.nil? %>
                    <%= "-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                  <%end%>
                  </li>
                <li> <%= unique_event.eventtype.name %></li>
                <li> <%="#{unique_event.location.name}-Court 2" %></li>
              <% end %>
            </ul>
          <ul>
            <% Event.events_on_court_at_time(d, cur_time+30.minutes, 2).search(params[:q]).result(distinct: true).to_a.each do |p| %>
              <%if is_admin? %>
                <li style = "color:#006600;"><%=link_to p.team.short_team_name, edit_event_path(p.id), :id => "black-link"%></li>
              <% else %>
                <li style = "color:#006600;"><%=p.team.short_team_name%></li>
               <%end %>
              <%end%>
            <% unique_event = Event.events_on_court_at_time(d, cur_time+30.minutes, 2).search(params[:q]).result(distinct: true).to_a.first %>
              <% if !unique_event.nil? %>
                  <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}" %>
                  <%if !unique_event.end_time.nil? %>
                    <%= "-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                  <%end%>
                  </li>
                <li> <%= unique_event.eventtype.name %></li>
                <li> <%="#{unique_event.location.name}-Court 2" %></li>
              <% end %>
            </ul>

      <%end%>
      <% cur_time += 1.hour; %>
    <%end %>
  </tr>
</table>
<dd>
  Download:
  <%= link_to "Excel", events_path(params.merge(format: 'xls')) %>
</dd>

<br>

<% if is_admin? %>
<%= calendar @events do |event| %>
  <%logger.debug "Events start_time: #{event.start_time}" %>
  <ul>
    <dd><%= "#{event.eventtype.name}: "%></dd>
    <dt>
      <%= "#{event.team.team_name}" %> <br />
      <%= "#{event.location.name}:" %> <br />
      <%= "#{event.the_time.strftime('%l:%M %P')}"%>
      <% if !event.end_time.nil? %>
      <%= "-#{event.end_time.strftime('%l:%M %P')}" %>
      <% end %>
    </dt>
        <% if proper_coach?(event.team.coach) || is_admin? %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
  </ul>
<% end %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
</div>
<div class = "static-cols-green">
  <div class = "row">
    <h3 class = "centered">Team Schedules</h3>
  </div>
  <div class ="row">
    <div class = "col-xs-6">
      <h3 class ="centered"> Gym Ratz AAU Girls</h3>
      <div class ="row">
        <ul>
        <% Team.teams_by_gender("Girls").each do |team| %>
          <li class = "no-bullet centered"> <%= link_to team.short_team_name, team, :class => "black-text" %></li>
        <% end %>
      </ul>
      </div>
    </div>
    <div class = "col-xs-6">
      <h3 class ="centered">Gym Ratz AAU Boys</h3>
      <div class ="row">
        <ul>
        <% Team.teams_by_gender("Boys").each do |team| %>
          <li class = "no-bullet centered"> <%= link_to team.short_team_name, team, :class => "black-text" %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>

