<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Event Date</th>
      <th>Event Time</th>
      <th>Event location</th>
      <th>Eventtype</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.the_date %></td>
        <td><%= event.the_time.strftime('%l:%M %P')%></td>
        <td><%= event.location.name %></td>
        <td><%= event.eventtype.name %></td>
        <td><%= event.team.team_name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= calendar @events do |event| %>
  <%logger.debug "Events start_time: #{event.start_time}" %>
  <ul>
    <dd><%= "#{event.eventtype.name}: "%></dd>
    <dt>
      <%= "#{event.team.team_name}" %> <br />
      <%= "#{event.location.name}:" %> <br />
      <%= "#{event.the_time.strftime('%l:%M %P')}"%>
      <% if !event.end_time.nil? %>
      <%= "-#{event.end_time.strftime('%l:%M %P')}" %>
      <% end %>
    </dt>
        <% if proper_coach?(event.team.coach) %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
  </ul>
<% end %>
<h1 class="centered">Weekly Calendar</h1>
<h3 class="centered"> <%="#{Event.start_of_week} --- #{Event.end_of_week}"%></h3>
<table class="weekly-calendar">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <% (begin_weekly_calendar..end_weekly_calendar(1)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
          <dd><%= d.day %></dd>
        </td>
      <% end %>
  </tr>
    <tr>
    <% (begin_weekly_calendar..end_weekly_calendar(1)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
            <% Event.todays_events(d).each do |e| %>
            <ul>
              <li id="dark-green-text"><%= e.team.team_name %></li>
              <li class="bold-text">      
                <%= "#{e.the_time.strftime('%l:%M %P')}"%>
                <% if !e.end_time.nil? %>
                  <%= "-#{e.end_time.strftime('%l:%M %P')}" %>
                <% end %>
              </li>
              <li><%= e.location.name %></li>
              <% if e.court.nil? %>
                <li> <%="#{e.formatted_eventtype}" %></li>
              <% else %>
                <li> <%="#{e.formatted_eventtype}-Court #{e.court}" %></li>
              <% end %>
            </ul>
            <% end %>
        </td>
      <% end %>
  </tr>
</table>

<%= link_to 'New Event', new_event_path %>


