<div class="centered" id="event-imports-container">  
  <h1 id="notice"><%= notice %></h1>
    <table>
      <th>Date</th>
      <th>Time</th>
      <th>Team</th>
      <th>Type</th>
      <th>Location</th>
      <th>Options</th>
      <% @events.each do |event| %>
        <tr>
          <td> <%= event.formatted_date %></td>
          <td> <%="#{event.the_time.strftime('%l:%M %P')}"%></td>
          <td> <%= event.team_name %></td>
          <td> <%= event.eventtype_name %></td>
          <td> <%= event.location_name %></td>
          <td>
           <%= link_to "details", event_path(event.id) %> |
           <%= link_to "send email", event_email_path(event) %> |
           <%= link_to "destroy", event, method: :delete, data: { confirm: 'Are you sure?' } %>

         </td>
        </tr>
      <% end %>
    </table>

    <div style="margin-left: 50px;"><%= paginate @events %></div>
    <%= search_form_for @q do |f| %>

    <%= f.label "Search by date" %>
    <%= f.date_field :the_date_eq%>

    <%= f.submit %>
    <%= link_to "View All Events", events_path %>
    <% end %>
</div>


