<%= @event.team.name %>
<div class="gray-content no-padding">
	<div class = "smaller-content">
		<h2><%= @event.eventtype.name.split.map(&:capitalize).join(' ') %></h2>
		<h1><%= @event.location.name %></h1>
		<p>
		  <strong>When:</strong>
		    <%= @event.formatted_date%> <br />
		    <%=  "#{@event.the_time.strftime('%l:%M %P')}"%>
		    <% if !@event.end_time.nil? %>
		      <%= "-#{@event.end_time.strftime('%l:%M %P')}" %>
		    <% end %>
		</p>
		<% if !@event.court.nil? %>
			<p>
				<strong>Court:</strong>
				<%= @event.court %>
			</p>
		<% end %>
		<p>
		  <strong> Directions:</strong>
		  <%= link_to 'Click Here!', "https://maps.google.com/maps?f=d&daddr=#{@event.location.glocation}" %>
		</p>
	</div>
</div>


<% @event.hotels.each do |hotel| %>
<div class="green-content no-padding">
  <div class="smaller-content">
 <h2>Hotel Information</h2>
  <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{hotel.glocation}&zoom=13&size=200x200&markers=#{hotel.glocation}&sensor=false", class: "float-right"); %>
<p>
  <strong>Name:</strong>
  <%= hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= hotel.address %>
</p>

<p>
  <strong>City:</strong>
  <%= hotel.city %>
</p>
<p>
  <strong>State:</strong>
  <%= hotel.state %>
</p>

<p>
  <strong>Price:</strong>
  <%= hotel.price %>
</p>
<p>
  <strong> Directions:</strong>
  <%= link_to 'Click Here!', "https://maps.google.com/maps?f=d&daddr=#{hotel.glocation}" %>
</p>
<% if !hotel.addtional_link.nil? %>
	<p>
	  <strong>Addtional link:</strong>
	  <%= link_to 'Booking Information', hotel.addtional_link %>
	</p>
<% end %>
</div>
</div>
<% end %>
<% if is_admin? %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back To Team', @event.team %> |
<%= link_to 'Gym Ratz Home', events_path %>
