<div id="main-carousel" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="1"></li>
		<li data-target="#main-carousel" data-slide-to="2"></li>
		<li data-target="#main-carousel" data-slide-to="3"></li>
	</ol>

	<div class="carousel-inner">
		<div class=" item active green-content content-height carousel-padding">
			<%= image_tag("court1.jpg"); %>
			<h2>The Gym</h2>
			<h1>Two Full Basketball Courts</h1>
			<p>
				<strong>Down Town Sports</strong>, a new State of the Art Basketball/Sports Facility. The gym is open year-round and is <strong>one
				of its kind</strong> in Bergen County. With two full hardwood regulation courts, the facility is designed to accommodate a wide variety of sports and programs
				for kids and adults to enjoy.
			</p>
		</div>
		<div class="item gray-content content-height content-padding">
			<p id="gymratz-desc">
			<%= link_to "The Gym Ratz Ball Club", page_gym_ratz_about_path, :class => "underlined" %>
			 is a program for serious players to develop <strong>team skills</strong> and maximize <strong>individual potential</strong>. This is accomplished through structured practices, league games, and tournament competition against some of the best teams on the East Coast. 
			</p>
			<h2>The Team</h2>
			<h1>GymRatz AAU Basketball</h1>
		</div>
		<div class="item orange-content content-height content-padding">
			<p>
			Our goal is to help our players be the best that they can be. We
			offer a wide variety of training programs appropriate for every
			skill level including private One-On-One lessons and group clinics.
			<%= link_to "Sign up for our Gym Ratz Boot Camps today!", page_clinics_path, :class => "underlined" %>
			<h2>The Coaching</h2>
			<h1>Training That Suits You</h1>

		</div>
		<div class = "item gray-content content-height" id="shop-content">
			<%= image_tag("shirt1.png", class: "float-right", id: "shop-img"); %>
			<h2>The Shop</h2>
			<h1>All The Best Gymratz Gear</h1>
			<p class="no-float">
				<%= link_to "Gear Up at the Gym Ratz Shop!", page_page_unavailable_path, :class =>"block-display underlined" %> 
				All of the latest and greatest <strong><em>shirts, shorts, hoodies, warm ups, and so much more. </em> </strong></br >
				Show your Gym Ratz Team Spirit by wearing our Gym Ratz Gear!
			</p>
		</div>
	</div>

	<a class="carousel-control left" href="#main-carousel" data-slide="prev"> < </a>

	<a class="carousel-control right" href="#main-carousel" data-slide="next"> > </a>
</div>
<div id="columns-container">
	<div class="row main-row">
		<div class="col-xs-4 column3">
			<h3>Who We Are</h3>
			<p>
				Down Town Sports, located in Mahwah, NJ, is a new facility consisting of
				two full-sized basketball courts, party rooms, spacious lobby, team locker
				rooms, and a full vending service.
				
			</p>

		</div>
		<div class="col-xs-4 column3">
			<h3>What We Do</h3>
			<p>
				Programs include Gym Ratz AAU basketball, basketball boot camps, 
				specialized player position clinics, summer camps, individual training, 
				and youth and adult basketball leagues.  Down Town Sports is also fully equipped 
				for all of your party needs.  Birthday's, and Bar/Bat Mitzvah's are available, 
				with access to both basketball courts and our party rooms.
			</p>
		</div>
		<div class="col-xs-4 column3">
			<h3>Important Dates</h3>
			<ul>
				<li><strong>March 1:</strong> Gym Ratz AAU Tryouts
				<li><strong>May 16:</strong> Gym Ratz AAU Spring Invitational
				<li><strong>July 7:</strong> Down Town Sports Summer Camp </li>
			</ul>
			<h3>Quick Forms</h3>
			<ul>
				<li><a href="program_registration.pdf">Program Registration</a> </li>
				<li><a href="gym_ratz_signup.pdf">Gym Ratz Try Out Form</a> </li>
				<li> <a href="tournament_form.pdf">Tournament Registration</a></li>
			</ul>
		</div>
	</div>
</div>
