<div id="main-carousel" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" ></li>
		<li data-target="#main-carousel" data-slide-to="1" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item gray-content content-height content-padding">
			<p id="gymratz-desc">
			<strong> Join Us For Fall Ball AAU Tryouts. </strong> <br /> <br />
			We offer a program for serious players to develop team skill and maximize individual potential
			through structured practices, games and tournament competition. <br /> <br />
			<%= link_to "View Tryout Schedule", page_gym_ratz_about_path, :class => "underlined" %>
			</p>
			<h2>Fall Tryouts</h2>
			<h1>GymRatz AAU Basketball</h1>
		</div>
		<div class="item active orange-content content-height content-padding">
			<p>
			Step Up Your Game Before School Starts! <br />	<br />
			<strong>Boys & Girls, Grades 3-9 <br /> </strong>
			August 18-22 (Monday-Friday)<br />
			August 25-29 (Monday-Friday) <br /> <br/ >
			<%= link_to "Sign Up For Camp Today!", new_summer_camper_url, :class => "underlined" %>
			</p>
			<h2>2 Weeks Left!!</h2>
			<h1>Summer Basketball Camp</h1>
		</div>
		<div class="item gray-content content-height content-padding">
			<p id = "gymratz-desc">
			<strong>Basketball Boot Camps Are Coming!</strong> <br /> <br />
			Our Basketball Boot Camps are a progressive training clinic encompassing all aspects of basketball, focusing on 
			individual development for competition. <br /> <br />
			<%= link_to "Fall Sessions Starting in September", page_clinics_path, :class => "underlined" %>
			<h2>Basketball Boot Camp</h2>
			<h1>Think You're Ready?</h1>

		</div>
	</div>

	<a class="carousel-control left" href="#main-carousel" data-slide="prev"> < </a>

	<a class="carousel-control right" href="#main-carousel" data-slide="next"> > </a>
</div>

<% if !@schedule.empty? && !@key.empty? %>
<div class = "static-cols-green">
	<h1 class="centered">Gym Ratz AAU <strong>Spring </strong> Invitational</h1> <br />
	<div class = "row">
		<div class ="col-xs-8">
			<p> 
				The Tournament Schedule has now been released and is available to view by clicking the links to the right.
				<strong id="black-text">This schedule is subject to change <br />Please Check Frequently!</strong>
			</p>
		</div>
		<div class ="col-xs-4">
			<%= link_to "Tournament Schedule", @schedule[0].the_file.url %> <br />
			<%= link_to "Team Key", @key[0].the_file.url %>
		</div>
	</div>
<% end %>


</div>

<div id="columns-container">
	<div class="row main-row">
		<div class="col-xs-4 column3">
			<h3>Who We Are</h3>
			<p>
				Down Town Sports, located in Mahwah, NJ, is a new facility consisting of
				two full-sized basketball courts, party rooms, spacious lobby, team locker
				rooms, and a full vending service.
				
			</p>

		</div>
		<div class="col-xs-4 column3">
			<h3>What We Do</h3>
			<p>
				Programs include Gym Ratz AAU basketball, basketball boot camps, 
				specialized player position clinics, summer camps, individual training, 
				and youth and adult basketball leagues.  Down Town Sports is also fully equipped 
				for all of your party needs.  Birthday's, and Bar/Bat Mitzvah's are available, 
				with access to both basketball courts and our party rooms.
			</p>
		</div>
		<div class="col-xs-4 column3">
			<h3>Important Dates</h3>
			<ul>
				<li><strong>June 10:</strong> Gym Ratz AAU Girls Tryouts
				<li><strong>June 12:</strong> Gym Ratz AAU Boys Tryouts
				<li><strong>July 7:</strong> Down Town Sports Summer Camp </li>
			</ul>
			<h3>Quick Forms</h3>
			<ul>
				<li><a href="bootcamp2014.pdf">Basketball Boot Camp</a></li>
				<li><a href="program_registration.pdf">Program Registration</a> </li>
				<li><a href="gym_ratz_signup.pdf">Gym Ratz Tryouts Form</a> </li>
				<li> <a href="tournament_form.pdf">Tournament Registration</a></li>
			</ul>
		</div>
	</div>
</div>
