<div id="main-carousel" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" ></li>
		<li data-target="#main-carousel" data-slide-to="1" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="2" ></li>
		<li data-target="#main-carousel" data-slide-to="3" ></li>
	</ol>

	<div class="carousel-inner">
		<div class=" item green-content content-height carousel-padding">
			<%= image_tag("court1.jpg"); %>
			<h2>The Gym</h2>
			<h1>Two Full Basketball Courts</h1>
			<p>
				<strong>Down Town Sports</strong>, a new State of the Art Basketball/Sports Facility. The gym is open year-round and is <strong>one
				of its kind</strong> in Bergen County. With two full hardwood regulation courts, the facility is designed to accommodate a wide variety of sports and programs
				for kids and adults to enjoy.
			</p>
		</div>
		<div class="item active gray-content content-height content-padding">
			<p id="gymratz-desc">
			<%= link_to "The Gym Ratz Ball Club", page_gym_ratz_about_path, :class => "underlined" %>
			 is a program for serious players to develop <strong>team skills</strong> and maximize <strong>individual potential</strong>. This is accomplished through structured practices, league games, and tournament competition against some of the best teams on the East Coast.
			<% if !@key.empty? %>
				<br />
				<%= link_to "Gym Ratz AAU Summer Tryouts Schedule", @key[0].the_file.url %>
			<% end %>
			</p>
			<h2>The Team</h2>
			<h1>GymRatz AAU Basketball</h1>
		</div>
		<div class="item orange-content content-height content-padding">
			<p>
			Our goal is to help our players be the best that they can be. We
			offer a wide variety of training programs appropriate for every
			skill level including private One-On-One lessons and group clinics.
			<%= link_to "Sign up for our Gym Ratz Boot Camps today!", page_clinics_path, :class => "underlined" %>
			<h2>The Coaching</h2>
			<h1>Training That Suits You</h1>

		</div>

		<div class = "item darkgreen-content content-height" id="shop-content">
			<h2>The Gym Ratz AAU</h2>
			<p>
				We offer a <strong> unique program</strong> which includes both individual and team instruction focusing
				on the fundementals of basketball. <br />
				All players at all levels will have the opportunity to <strong>learn, practice, and compete </strong>
				in the latest drills to maximize potential
			</p>
			<h1> Summer Basketball Camp</h1>
			
		</div>
	</div>

	<a class="carousel-control left" href="#main-carousel" data-slide="prev"> < </a>

	<a class="carousel-control right" href="#main-carousel" data-slide="next"> > </a>
</div>

<% if !@schedule.empty? && !@key.empty? %>
<div class = "static-cols-green">
	<h1 class="centered">Gym Ratz AAU <strong>Spring </strong> Invitational</h1> <br />
	<div class = "row">
		<div class ="col-xs-8">
			<p> 
				The Tournament Schedule has now been released and is available to view by clicking the links to the right.
				<strong id="black-text">This schedule is subject to change <br />Please Check Frequently!</strong>
			</p>
		</div>
		<div class ="col-xs-4">
			<%= link_to "Tournament Schedule", @schedule[0].the_file.url %> <br />
			<%= link_to "Team Key", @key[0].the_file.url %>
		</div>
	</div>
<% end %>


</div>
<div class = "static-cols-green">
	<div class = "row">
		<h3 id ="no-underline" class = "centered">Join Us <strong>For Gym Ratz AAU</strong> Summer Tryouts</h3>
		<br />
	</div>
	<div class ="row">
		<div class = "col-xs-6">
			<h3 class ="centered">Tuesday June 10th</h3>
			<div class ="row">
				<h4 class ="centered">Girls Tryouts</h4>
				<table class = "centered-table">
					<tr> 
						<td>5:30</td>  
						<td>pm</td>
						<td> Girls Grade 3-4-5-6-7</td>
					</tr>
					<tr> 
						<td>7:30</td>  
						<td>pm</td>
						<td> Girls Grade 8-9-10-11</td>
					</tr>
				</table>
			</div>
		</div>
		<div class = "col-xs-6">
			<h3 class ="centered">Thursday June 12th</h3>
			<div class ="row">
				<h4 class ="centered">Boys Tryouts</h4>
				<table class = "centered-table">
					<tr> 
						<td>5:30</td>  
						<td>pm</td>
						<td> Boys Grade 3-4-5-6-7</td>
					</tr>
					<tr> 
						<td>7:30</td>  
						<td>pm</td>
						<td> Boys Grade 8-9-10-11</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
		<br />
		<li class="black-text">Teams will train/practice twice per week </li>
		<li class = "black-text">Teams will be involved in league play / tournament play
		<br /> <br />
		<h2 id = "red-text" class = "centered"> Girls Grade 4-5 Roster Has Been Released </h2> <br />
		<p> Please Click the link below to view the Girls Roster </p>
		<a href="girls5_website.pdf"> Girls Summer Roster</a>
		<br /> <br />	
		<dt class = "centered">
			All Tryouts are Held at Down Town Sports
		</dt>
		<dd class = "centered"> Please call for more information</dd>
		<dd class = "centered"> (201)848-0017</dd>

	</div>


</div>
<div id="columns-container">
	<div class="row main-row">
		<div class="col-xs-4 column3">
			<h3>Who We Are</h3>
			<p>
				Down Town Sports, located in Mahwah, NJ, is a new facility consisting of
				two full-sized basketball courts, party rooms, spacious lobby, team locker
				rooms, and a full vending service.
				
			</p>

		</div>
		<div class="col-xs-4 column3">
			<h3>What We Do</h3>
			<p>
				Programs include Gym Ratz AAU basketball, basketball boot camps, 
				specialized player position clinics, summer camps, individual training, 
				and youth and adult basketball leagues.  Down Town Sports is also fully equipped 
				for all of your party needs.  Birthday's, and Bar/Bat Mitzvah's are available, 
				with access to both basketball courts and our party rooms.
			</p>
		</div>
		<div class="col-xs-4 column3">
			<h3>Important Dates</h3>
			<ul>
				<li><strong>June 10:</strong> Gym Ratz AAU Girls Tryouts
				<li><strong>June 12:</strong> Gym Ratz AAU Boys Tryouts
				<li><strong>July 7:</strong> Down Town Sports Summer Camp </li>
			</ul>
			<h3>Quick Forms</h3>
			<ul>
				<li><a href="bootcamp2014.pdf">Basketball Boot Camp</a></li>
				<li><a href="program_registration.pdf">Program Registration</a> </li>
				<li><a href="gym_ratz_signup.pdf">Gym Ratz Tryouts Form</a> </li>
				<li> <a href="tournament_form.pdf">Tournament Registration</a></li>
			</ul>
		</div>
	</div>
</div>
