<div class ="static-green-content">
	<h1 class="centered">Leagues and Tournaments</h1>
	<br />
	<br />
</div>
<div class = "static-cols-green">
	<h3>Gym Ratz Fall Ball Invitationals</h3>
	<p>The Gym Ratz AAU Spring Invitational is a tournament open to both Boys and Girls Teams Grades 4-12</p>
	<ul>
		<li>A Level and B Level Pools</li>
		<li>Each Team <strong> Guaranteed 3+ Games</strong> </li>
		<li><p>	<strong>Championship T-Shirts</strong> will be awarded to top competitors </p></li>
	</ul>
	<div class = "row">
		<div class = "col-xs-6">
			<table>
				<tr>
					<td><dt> Boys Tournament Dates</dt></td>
				</tr>
				<tr>
					<td>September 27-28</td>
					<td>Boys Grades 4-7</td>
				</tr>
				<tr>
					<td>October 4-5</td>
					<td>Boys Grades 8-12</td>
				</tr>
			</table>
			<br />
			<table>
				<tr>
					<td><dt> Girls Tournament Dates</dt></td>
				</tr>
				<tr>
					<td>October 25-26</td>
					<td>Girls Grades 8-12</td>
				</tr>
				<tr>
					<td>November 1-2	</td>
					<td>Girls Grades 4-7</td>
				</tr>
			</table>
			<br />
			<table>
				<tr><td><dt> Where</dt></td></tr>
				<tr><td><dd> Down Town Sports, Mahwah</dd></td></tr>
				<tr><td><dt> Entry Free</dt></td></tr>
				<tr><td><dd> $350 per Team</dd></td></tr>
			</table>
			
		</div>
		<div class = "col-xs-6">
			<dt>Select a Date</dt>
			<%= form_for @tournament, :url => new_organization_url, :html => { :method => 'GET' } do |f| %>
				<%= f.collection_select :id, Tournament.find_tournaments("Fall"),:id,:formatted_name, include_blank: false %> <br /> <br />
				<%= f.submit "Register Online",:class => 'button-look'%>
			<% end %>
		</div>
	</div>
	<br />
	<div class = "row">

		<div class = "col-xs-3">

		</div>
		<div class = "col-xs-6">

		</div>
	</div>
	<br />
	<div class = "centered">
			<dt> Please do not delay. Teams are registered on a First Come Basis!</dt>
	</div>
</div>

<div class = "static-cols-green">
	<h3>Down Town AAU Youth League</h3>
	<p> 
	Our Spring AAU Youth Basketball League will begin in April. Four divisions are available for both boys and girls ages 10-17. Games will be played during week nights here at Down Town Sports. <br /> <br />
	Club Teams, CYO Teams, Town Travel Teams are all welcome in the Spring League. 8 teams are accepted in each division, on a first come basis. <br /> <br />
	</p>	
	<div class = "row">
		<div class = "col-xs-6">
			<dt > When</dt>
			<dd> April - June</dd>
			<dt> Where</dt>
			<dd>Down Town Sports, Mahwah</dd>

			<dt> Entry Free</dt>
			<dd> $895 per Team</dd>
		</div>
		<div class = "col-xs-6">

			<dt> Contact Down Town Sports</dt>
			<dd> (201)848-0017</dd>
			<dt> Please do not delay. Teams are registered on a First Come Basis!</dt>
		</div>
	</div>
</div>
<% if is_admin? %>
	<div class ="static-cols-green">
		<%= link_to "Tournaments Index", tournaments_path %> <br />
		<%= link_to "Registered Teams Index", organizations_path %> <br />
	</div>
<% end %>