<div class="instagram-container instagram-content-height">

	<%= link_to "<", page_photo_gallery_url(:img_id => @prev), :class => "instagram-leftarrow float-left" %>
	<img class = "float-left" src="<%= @pic.images.standard_resolution.url%>" id = "mainpic" picid="<%=@picid%>">
	<%= link_to ">",page_photo_gallery_url(:img_id => @next), :class => "float-left" %>
	
	<%count=0;%>
	<ul class = "instacomments">
		<% if @pic.caption %>
			<li class = "no-bullet">
				<h2>@<%= @pic.user.username%></h2>
				<dt><%= @pic.caption.text %></dt>
			</li>
		<% end %>

		<% @pic.comments[:data].each_with_index do |comment, index| %>
			<li class="no-bullet">
				<h2>@<%=comment[:from].username%></h2>
				<dt><%=comment.text%></dt>
			</li>
			
		<% end %>
	</ul>

</div>
<div class ="instagram-album">
	<% count = 0; %>
	<%@instagram.each_with_index do |instagram, index| %>
		<%if count == 0 %>
			<div class = "row instagram-margin">
		<%end%>

		<div class = "col-xs-4">
			<%= link_to(image_tag(instagram.images.standard_resolution.url, :id =>"tournament-pic-small"),
			 page_photo_gallery_url(:img_id => index)) %>
		</div>
		<%if count == 2 %>
			</div>
			<%count = 0; %>
		<% else %>
			<% count = count+1;%>
		<% end %>
	<% end %>
</div>
</div>
<script>
	$(document).keydown(function(e){
	    if (e.keyCode == 37) {
	    	window.location = "/page/photo_gallery?img_id=" + "<%=@prev%>"; 
	       return false;
	    }
	    if (e.keyCode == 39) {
	    	window.location = "/page/photo_gallery?img_id=" + "<%=@next%>"; 
	       return false;
	    }
	});

</script>