<table>
	<% cur = @tournaments[0] %>
	<% cur_class = "oddrow" %>
	<% @tournaments.each do |tournament| %>
		<% if tournament.location.name != cur.location.name %>
			<tr class = "blackrow"><td></td><td></td><td></td><td></td>
				<%if is_admin? %>
					<td></td>
				<% end %>
			</tr>
			<% if cur_class == "evenrow" %>
				<% cur_class = "oddrow" %>
			<% else %>
				<% cur_class = "evenrow" %>
			<% end %>
			<% cur = tournament %>
		<% end %>
		<tr class ="<%= cur_class %>">
			<td> <%= tournament.formatted_date %></td>
			<td> <%= tournament.location.name %></td>
			<td> <%= tournament.team.name %></td>
			<td>
				<%tournament.hotels.each do |hotel| %>
					<%=hotel.name%> -
					<% if !hotel.addtional_link.empty? %>
						<%=link_to "Booking Info", hotel.addtional_link %>
					<% else %>
						No booking link
					<% end %>
					<br />
				<%end%>
			</td>
			<% if is_admin?%>
			<td> <%= link_to "Edit", edit_event_url(tournament), id: "black-link" %></td>
			<% end %>
		</tr>
	<% end %>
</table>
<%= link_to "New Event", new_event_url %>