<% if !@teams.nil? %>
  <%@teams.each do |team| %>
    <%= team.team.team_name %>
  <% end %>
<% end %>
<%= search_form_for @q do |f| %>
  <%= f.label :team_team_name_cont %>
  <%= f.text_field :team_team_name_cont %>
  <%= f.submit %>
<% end %>
<h1 class="centered">Down Town Sports Practice Schedule</h1>
<h3 class="centered"> <%="#{Event.start_of_week} --- #{Event.end_of_week}"%></h3>

<table class="weekly-calendar">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <% (begin_weekly_calendar..end_weekly_calendar(1)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
          <dd><%= d.day %></dd>
        </td>
    <% end %>
  </tr>
    <% cur_time = Event.begin_time; while cur_time <= (Event.stopping_time) %>
    <tr>
    <% (begin_weekly_calendar..end_weekly_calendar(1)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
          <ul>
            <li style = "color:#006600;"><%= Event.teams_on_court_at_time(d, cur_time, 1) %></li>
            <% unique_event = Event.unique_event_on_court_at_time(d,cur_time,1)%>
              <% if !unique_event.nil? %>
                <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                </li>
                <li> <%="Court 1" %></li>
              <% end %>
            </ul>          
          <ul>
            <li style = "color:#006600;"><%= Event.teams_on_court_at_time(d, cur_time, 2) %></li>
            <% unique_event = Event.unique_event_on_court_at_time(d,cur_time,2)%>
              <% if !unique_event.nil? %>
                <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                </li>
                <li> <%="Court 2" %></li>
              <% end %>
            </ul>
          <ul>
            <li style = "color:#006600;"><%= Event.teams_on_court_at_time(d, cur_time+30.minutes, 1) %></li>
            <% unique_event = Event.unique_event_on_court_at_time(d,cur_time+30.minutes,1)%>
              <% if !unique_event.nil? %>
                <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                </li>
                <li> <%="Court 1" %></li>
              <% end %>
            </ul>          
          <ul>
            <li style = "color:#006600;"><%= Event.teams_on_court_at_time(d, cur_time+30.minutes, 2) %></li>
            <% unique_event = Event.unique_event_on_court_at_time(d,cur_time+30.minutes,2)%>
              <% if !unique_event.nil? %>
                <li class="bold-text">      
                  <%= "#{unique_event.the_time.strftime('%l:%M %P')}-#{unique_event.end_time.strftime('%l:%M %P')}"%>
                </li>
                <li> <%="Court 2" %></li>
              <% end %>
            </ul>
        </td>
      <%end%>
      <% cur_time += 1.hour; %>
    <%end %>
  </tr>
</table>