<% if signed_in? %>
  <h1>Welcome <%= current_user.first_name %> </h1>
<% end %>
<br />

<h1>Listing coaches</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Teams</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.first_name %></td>
        <td><%= coach.last_name %></td>
        <td><%= number_to_phone(coach.phone, area_code: true) %></td>
        <td><%= coach.email %></td>
        <td>
          <ul>
            <% coach.teams.each do |team| %>
            <li> <%= link_to team.team_name, team %></li>
            <% end %>
          </ul>
        </td>
        <td>
        <% if proper_coach?(coach) %>
        <ul>
          <li><%= link_to 'Show', coach %></li>
          <li><%= link_to 'Edit', edit_coach_path(coach) %></li>
          <li><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? %>
  <%= link_to "Sign Out", session_path(:id), :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_path %>
<% end %>
<br />
<%= link_to 'New Coach', new_coach_path %>
