
<div class = "static-green-content">
  <% if signed_in? %>
    <h2>Welcome <%= current_user.first_name %> </h2>
  <% end %>
  <h1 class = "centered">Contact Information</h1>
  <h2>Gym Ratz AAU Coaches</h2>
  <br /> <br />
</div>
<% @not_me.each do |coach| %>
<div class = "static-cols-green" id ="no-border">
    <div class = "row">
      <div class ="col-xs-8">
        <h3><%= "#{coach.first_name} #{coach.last_name}" %></h3>
        <p>
          <%= coach.split_email[0] %>@<span style="display:none;">null</span><%=coach.split_email[1] %> <br />
          <% if coach.admin == true %>
            Phone: (201) 848-0017
          <% end %>
          <% if proper_coach?(coach) || is_admin? %>
            <ul>
              <li><%= link_to 'Edit', edit_coach_path(coach),:id => "black-link" %></li>
              <li><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' },:id => "black-link" %></li>
            </ul>
        <% end %>
        </p>
      </div>
      <div class ="col-xs-4">
        <h3>Teams</h3>
          <% coach.teams.order(:id).each do |team| %>
            <li class ="no-bullet"> <%= link_to team.name, team, :id => "black-link", :class => "underlined" %></li>
          <% end %>
      </div>
    </div>
</div>
<% end %>
<div class ="static-cols-green no-border">
  <% if signed_in? %>
    <%= link_to "Sign Out", session_path(:id), :method => :delete, :id => "black-link" %>
  <% else %>
    <%= link_to "Sign In", new_session_path,:id => "black-link" %>
  <% end %>
  <br />

  <%if is_admin? %>
  <%= link_to 'New Coach', new_coach_path,:id => "black-link" %>
  <% end %>
</div>