
<div class = "static-orange-content">
  <% if signed_in? %>
    <h2>Welcome <%= current_user.first_name %> </h2>
  <% end %>
  <h1 class = "centered">Contact Information</h1>
  <h2>Down Town Sports</h2>
  <p>
    7 Leighton Place <br />
    Mahwah, NJ 07430 <br />
    (201) 848-0017 <br />
    <%= link_to "Directions", "https://maps.google.com/maps?f=d&daddr=7+Leighton+Place,Mahwah,NJ" %>
  </p>
</div>
<% @coaches.each do |coach| %>
<div class = "static-cols-orange">
    <div class = "row">
      <div class ="col-xs-8">
        <h3><%= "#{coach.first_name} #{coach.last_name}" %></h3>
        <p>
          <%= coach.email %> <br />
          <%= number_to_phone(coach.phone, area_code: true) %>
          <% if proper_coach?(coach) || is_admin? %>
            <ul>
              <li><%= link_to 'Edit', edit_coach_path(coach) %></li>
              <li><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
        <% end %>
        </p>
      </div>
      <div class ="col-xs-4">
        <h3>Teams</h3>
          <% coach.teams.each do |team| %>
            <li class ="no-bullet"> <%= link_to team.team_name, team, :id => "black-link", :class => "underlined" %></li>
          <% end %>
      </div>
    </div>
</div>
<% end %>
<div class ="static-cols-orange">
  <% if signed_in? %>
    <%= link_to "Sign Out", session_path(:id), :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_path %>
  <% end %>
  <br />

  <%if is_admin? %>
  <%= link_to 'New Coach', new_coach_path %>
  <% end %>
</div>