<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @coach.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @coach.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@coach.phone, area_code: true) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach.email %>
</p>


<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
