<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li class="black-text"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Player Info </h2>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :uniform_number %><br>
    <%= f.number_field :uniform_number %>
  </div>
  <div class="field">
    <%= f.label :phone %><em>(ex. 2018480017)</em><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.collection_select :team_id, Team.order(:id),:id,:team_name, include_blank: false %>
  </div>

  <h2>Parent Info</h2>
  <h3>Please Fill The Following For One Parent </h3>
  <div class="field">
    <%= f.label :parent_first_name %><br>
    <%= f.text_field :parent_first_name %>
  </div>
  <div class="field">
    <%= f.label :parent_last_name %><br>
    <%= f.text_field :parent_last_name %>
  </div>
  <div class="field">
    <%= f.label :parent_cell %><em>(ex. 2018480017)</em><br>
    <%= f.text_field :parent_cell %>
  </div>
  <div class="field">
    <%= f.label :parent_email %><br>
    <%= f.text_field :parent_email %>
  </div>
    <div class="field">
    <%= f.label :parent_email2 %> (Optional Email Address for Second Parent/Guardian)<br>
    <%= f.text_field :parent_email2 %>
  </div>
  <div class="field">
    <%= f.label :emergency_phone %><em>(ex. 2018480017)</em><br>
    <%= f.text_field :emergency_phone %>
  </div>

  <h2>Team Password</h2>
  <h3>You Received the Team Password in an Email </h3>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
