<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Team</th>
      <th>Uniform Number</td>
      <th>Parent</th>
      <th>Parent Cell</th>
      <th>Parent Email</th>
      <th>Emergency Phone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= number_to_phone(player.phone, area_code: true) %></td>
        <td><%= player.email %></td>
        <td><%= link_to player.team.team_name, player.team%></td>
        <td><%= player.uniform_number %></td>
        <td><%= player.parent_first_name %></td>
        <td><%= player.parent_cell %></td>
        <td><%= player.parent_email %></td>
        <td><%= player.emergency_phone %></td>
        <td><%= link_to 'Show', player %>
            <%= link_to 'Edit', edit_player_path(player) %>
            <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
