<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @oldevent.eventtype.formatted_name %> Changed</h1>
    <p>
    This is to inform you The <%=@team.name%> Schedule has changed. <br />
    <% if @event.eventtype.name != "tournament" %>
    <%= @oldevent.eventtype.name %>: <%= @oldevent.the_date %>, <%= @oldevent.the_time.strftime('%l:%M %P')%> at <%=@oldevent.location.name %> <br /> 
    is now<br />
    <b><%= @event.eventtype.name %>: <%= @event.the_date %>, <%= @event.the_time.strftime('%l:%M %P')%> at <%=@event.location.name %></b>
    <% end %>
    <br /> 
    
    <% @event.hotels.each do |hotel| %>
      Hotel Information: <br />
      <%= hotel.name %> <br />
      <%= hotel.full_address %> <br />
      <%="#{number_to_currency(hotel.price)}/Night"%> <br />
      <% if !hotel.addtional_link.empty? %>
        <%= link_to "booking information", hotel.addtional_link %> <br />
      <% end %>
    <%end%>
    <% if !@event.description.empty? %>
      <p class = "full-width auto-margin">
        <strong> Details:</strong> <br />
        <%=raw sanitize(simple_format(@event.description), :tags => %w(br) ) %>
      </p>
    <% end %>
    More information can be found be checking the schedule by clicking <%= team_url(@event.team, host: 'www.downtownsports.org')%>  
    </p>
    <p>
      This is an automated email. Please do not reply
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
