<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Someone has <%= @action%> a location <br />
    <%= @location.name %>  <br />
    <%= @location.addres %> <br />
    <%= @location.city %> <br />
    <%= @location.state %> <br />
    This one performed by: <%= @user %> <br />
    On <%= Date.today %>

  </body>
</html>
