<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <h1>Camper Registration Confirmation </h1>
    <p>
    Thank you for registering <%= "#{@camper.first_name} #{@camper.last_name}"%> for the Down Town Sports Summer Camps<br />
    Below is a confirmation of the registration form. <br />
    </p>
    
    <h4>Please Note</h3>
    <h4>Your child is not guaranteed a spot in camp until the payment process is complete</h4>
    <h4 id = "black-text" class = "centered">Please call Down Town Sports (201) 848-0017 with a credit card</h4>
    <h4 id = "black-text" class = "centered"> OR</h4>
    <h4 id = "black-text" class = "centered">Mail a check payable to Down Town Sports</h4>
    <dd class = "centered"> 7 Leighton Place Mahwah, NJ, 07430</dd>
    <h3>Coupons / Special Offers No Longer Valid for Payments After June 1st</h3>
    
    <h2><%= "#{@camper.first_name} #{@camper.last_name}"%></h2>

    <dd>Home Phone: <%= number_to_phone(@camper.home_phone, area_code: true) %></dd>
    <dd>Cell Phone: <%= number_to_phone(@camper.cell_phone, area_code: true) %></dd>

    <h2>Summer Camps</h2>
    <% @camper.summer_camps.each do |summer_camp| %>
      <dd><%= summer_camp.date_range %></dd>
    <% end %>

    <h2>Total</h2>
    <h4><%= number_to_currency @camper.amount_owe %></h4>
    <p>
      This is an automated email. Please do not reply
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
