<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%="#{@player.first_name}!"%></h1>
    <p>
    Hi <%= "#{@player.first_name} #{@player.last_name}" %>, <br />
    Congratulations for making the <%= @player.team.name %> team! This is an automatic email confirming that you have successfully registered with the new Gym Ratz Team Manager System. You will frequently receive automatic emails from this address detailing changes to your Game, Practice, and Tournament Schedule.    
    <br />
    Please click <%= team_url(@player.team, host: 'www.downtownsports.org')%> to view your team page and monthly schedule.
    </p>

    <h2> Important Information </h2>
    <p>
      <strong> After you Register as a Gym Ratz AAU Player, you must come to Down Town Sports for uniform sizing before 10:00 pm, Tuesday, March 10.
      </strong>
    </p>
    <p>
      <strong> Once you have the sizing of your uniform and shooting shirt, you must order on-line before 12:00 midnight, Wednesday, March 11.
      </strong>
    </p>

    <h3>
      Please follow this link to order your uniform:
    </h3>
    <p>
      <a href="https://shirtsandskins.tuosystems.com/store/public/436667">
        https://shirtsandskins.tuosystems.com/store/public/436667
      </a>
    </p>
    <p>
      <strong>
        If you are a returning player and do NOT need to order a uniform or shooting shirt, please call or stop in with payment prior to Wednesday, March 11. All Club fees are also due at this time.
      </strong>
    </p>
    
    <h2>Your Profile Information</h2>
    <dt><%= "#{@player.first_name} #{@player.last_name}" %></dt>
    <dd><%= "Number : #{@player.uniform_number}" %></dd>
    <dd><%= number_to_phone(@player.phone, area_code: true) %></dd>
    <dd><%= "#{@player.parent_first_name} #{@player.parent_last_name}" %></dd>
    <dd><%= @player.parent_cell %></dd>
    <dd><%= "Emergency Phone : #{@player.emergency_phone}" %></dd>

    <p>
      If any of this information is incorrect or the recipients of this email are not you, please send an email with the <br />
      SUBJECT: Player Profile Change <%="#{@player.first_name} #{@player.last_name}" %> <br />
      to abrown@downtownsports.org <br />
    </p>

    <p> 
      This is an automated email. Please do not reply
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
