 <div class = "field"> 
    
  	<table style="border:1px solid black;">
      <tr>
        <td><%= f.label "Team" %></td>
        <td>
          <%= f.select :gender, options_for_select(%w[Boys Girls], f.object.gender)%>
          <%= f.select :grade, options_for_select(%w[3rd 4th 5th 6th 7th 8th 9th 10th 11th 12th],f.object.grade)%>
        </td>
      </tr>
      <tr>
        <td><%= f.label :coach, "Coach" %></td>
        <td><%= f.text_field :coach, :class=>"text" %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "Coach Email" %></td>
        <td><%= f.text_field :email, :class=>"text" %></td>
      </tr>
      <tr>  
        <td><%= f.label :cell, "Coach Cell" %></td> 
        <td><%= f.phone_field :cell, :class=>"text" %><br/><em>(ex. 2018480017)</em></td>
      </tr>

      <tr>
        <td></td>
        <td>
  <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove Team" %> <em id = "black-text">Check this box if you accidentally added or would like to remove the team above </em>
        </td>
      </tr>
  	</table>

</div>