


<%= form_for@organization, :html => {:class => "organization-form"} do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li class="black-text"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2> Tournament </h2>
  <div class="field">
    <%= f.label :tournament_id %>
    <%= f.collection_select :tournament_id, Tournament.find_active_tournaments,:id,:formatted_name, include_blank: false %>
  </div>

<h2>Club/Organization Information</h2>
  <div class="field">
    <table>
      <tr>
        <td><%= f.label :name, "Club Name" %></td>
        <td><%= f.text_field :name, :class=>"text" %></td>
      </tr>
      <tr>
        <td><%= f.label :contact_name, "Contact Name" %> </td>
        <td><%= f.text_field :contact_name, :class=>"text" %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email, :class=>"text" %></td>
      </tr>
      <tr>
        <td><%= f.label :phone, "Phone Number" %> </td>
        <td><%= f.text_field :phone, :class=>"text" %><br /><em>(ex. 2018480017)</em></td>
      </tr>
    </table>  
  </div>
  

<h2>Teams</h2>
  <%= f.fields_for :clubs do |builder| %>
    <%= render 'club_fields', f: builder%>
  <% end %>
  <%= link_to_add_fields "Add Team", f, :clubs %><br /> <br /> <br />

<% if is_admin? %>
  <div class = "field">
    <%= f.label "Amount Owe" %>  <br />
    <%= f.text_field :amount_owe%>
    <%= f.check_box :manual_fee_entry %>
    <%= f.label :manual_fee_entry, "Enter Amount Manually" %> 
    <em>Check this box if you want to manually enter the amoune owe </em><br /> <br />
    <%= f.label "Amount Paid" %> <br />
    <%= f.text_field :amount_paid %> <br />
  </div>
<% else %>
  <% @organization.manual_fee_entry = "0"%>
<% end %>
  <div class="actions">
    <%= f.submit "Register For Tournament", :id => "black-text"%>
  </div>
<% end %>