<%= @organization.manual_fee_entry %> <br />
<div class = "static-cols-green">

<h2 class = "centered"><%= @organization.tournament.name %></h2>
<h2 class = "centered" id = "dark-green-text"><%= "#{@organization.name} Registration" %></h2> <br />
<% if @organization.amount_owe != @organization.amount_paid %>
	<h2 class = "centered" id = "black-text">Please Note</h2>
	<h4 class ="centered underlined"id = "red-text">
		Your team(s) will not be entered into the this tournament until payment is received
	</h4>
	<h4 id = "black-text" class = "centered">Please contact Down Town Sports (201) 848-0017 to complete the registration process</h4>
<% else %>

<% end %>
<h2 class = "no-padding"> Teams</h2>
<h4 id = "black-text" class = "med-margin-left"> <%= "(#{number_to_currency(@organization.tournament.price)} per team)"%> </h4> <br />
<table class = "plain-table med-margin-left">
	<tr>
		<th>Team</th>
		<th>Coach</th>
		<th>Email</th>
		<th>Phone </th>
		<th>Price</th>
	</tr>
<% cur_amount = @organization.amount_paid %>
<% for club in @organization.clubs %>
	<%cur_amount -= @organization.tournament.price %>
	<tr>
		<td> <%= "#{club.grade} Grade #{club.gender}"  %></td>
		<td> <%= club.coach %></td>
		<td> <%= club.email %></td>
		<td> <%=  number_to_phone(club.cell, area_code: true) %></td>
		<td>
			<% if cur_amount >= 0 %>
				<dd>Paid</dd>
			<% else %>
				<dd><%= number_to_currency(@organization.tournament.price) %></dd>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<% if is_admin? %>
	<%= link_to 'Add More Teams', edit_organization_path(@organization), id: "large-text", class: "med-margin-left" %> <br /> <br />
<% end %>
<div class = "row">
	<div class = "col-xs-6">
	<h2>Contact</h2>
		<dt class = "med-margin-left"> <%= @organization.contact_name %></dt>
		<dd class = "med-margin-left"> <%= @organization.email %></dd>
		<dd class = "med-margin-left"> <%= number_to_phone(@organization.phone, area_code: true) %></dd>
	</div>
	<div class ="col-xs-6">
<h2> Summary </h2>
	<table class = "med-margin-left">
		<tr>
			<td> <dt>Teams Entered:</dt></td>
			<td><dd> <%= @organization.clubs.size %></dd>  </td>
		</tr>
		<tr>
			<td> <dt>Total</dt></td>
			<td><dd> <%= number_to_currency @organization.amount_owe %></dd></td>
		</tr>
		<tr>
			<td> <dt>Amount Paid</dt></td>
			<td> <dd> <%= number_to_currency @organization.amount_paid %></dd></td>
		</tr>
	</table>
	</div>
	
</div>
<% if is_admin? %>
	<br />
	<%= link_to 'Back', organizations_path %>
<% end %>
</div>