<!DOCTYPE html>
<html>
<head>
  <title>Down Town Sports</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css", "application" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" , "application" %>


  <%= csrf_meta_tags %>
</head>
<body id = "page">
		<div id="banner-container">
			<%= link_to(image_tag("logo3.png", id: "logo", class: "banner-image"), root_path); %>
			<%= link_to(image_tag("title.png", id: "title", class: "banner-image"), root_path); %>
			<% if signed_in? %>
			  <p class= "float-right text-right">Welcome <%= current_user.first_name %> <br />
			  	<%= link_to "Sign Out", session_path(:id), :method => :delete %>
			  </p>
			<% else %>
				<h5 class="float-right text-right">7 Leighton Place, Mahwah, NJ <br /> (201)848-0017</h5>
			<% end %>
				<div>
					<ul id="main-menu">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gym Ratz AAU <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%=link_to "About", page_gym_ratz_about_path %></li>
							<li class="dropdown-submenu">
							    <a tabindex="-1" href="#">Gym Ratz AAU Boys Elite</a>
							    <ul class="dropdown-menu">
							    	<% Team.all_teams_of_gender_and_type("Boys","Elite").each do |t| %>
							    		<li><%= link_to t.short_team_name, t %></li>
							    	<% end %>
							    </ul>
							</li>
							<li class="dropdown-submenu">
							    <a tabindex="-1" href="#">Gym Ratz AAU Boys Select</a>
							    <ul class="dropdown-menu">
							    	<% Team.all_teams_of_gender_and_type("Boys","Select").each do |t| %>
							    		<li><%= link_to t.short_team_name, t %></li>
							    	<% end %>
							    </ul>
							</li>
							<li class="dropdown-submenu">
							    <a tabindex="-1" href="#">Gym Ratz AAU Girls Elite</a>
							    <ul class="dropdown-menu">
							    	<% Team.all_teams_of_gender_and_type("Girls","Elite").each do |t| %>
							    		<li><%= link_to t.short_team_name, t %></li>
							    	<% end %>
							    </ul>
							</li>
							<li class="dropdown-submenu">
							    <a tabindex="-1" href="#">Gym Ratz AAU Boys Elite</a>
							    <ul class="dropdown-menu">
							    	<% Team.all_teams_of_gender_and_type("Girls","Select").each do |t| %>
							    		<li><%= link_to t.short_team_name, t %></li>
							    	<% end %>
							    </ul>
							</li>
							<li><%=link_to "Master Schedule", events_path %></li>
							<li><%=link_to "Coaches", coaches_path %></li>
							<% if is_admin? %>
							<li><%= link_to "Manage Teams", teams_path %></li>
							<li><%= link_to "All Players", players_path %></li>
							<% end %>
						</ul>

					</li>
					<li><%=link_to "Clinics", page_clinics_path %></li>
					<li><%=link_to "Court Rentals", page_court_rentals_path %></li>
					<li><%=link_to "Parties", page_parties_path %></li>
					<li><%=link_to "Camps", page_camps_path %> </li>
					<li><%=link_to "Leagues/Tournaments", page_leagues_url %></li>
					<li><%= link_to "Shop", page_page_unavailable_path %></li>
					<li><%=link_to "Contact", page_contact_path %></li>

					</ul>
				</div>
			</div>
	<%= yield %>
	<footer>
		<p>
		Down Town Sports Athletic Club <br />
		7 Leighton Place, Mahwah, NJ (201)848-0017
		</p>
		<ul>
			<li><%=link_to "Home", root_path%></li>
			<li><%=link_to "Gym Ratz AAU", events_path%></li>
			<li><%=link_to "Clinics", page_clinics_path %></li>
			<li><%=link_to "Court Rentals", page_court_rentals_path %></li>
			<li><%=link_to "Parties", page_parties_path %></li>
			<li><%=link_to "Camps", page_camps_path %> </li>
			<li><%=link_to "Leagues/Tournaments", page_leagues_path %></li>
			<li><%=link_to "Shop", page_page_unavailable_path %></li>
			<li><%=link_to "Contact", page_contact_path %></li>
		</ul>
	</footer>
</body>
</html>
